.anteriores{
	text-align:center;
}
.n-title{
	height:36px;
	margin-top:.5em;
	margin-bottom:.5em;
}
.n-p{
	text-align:left;
	height:150px;
	overflow: hidden;
}
.n-img{
	height:100px;
}
.hcontrol{
	height:490px;
}
#streams { display: none; }
.foros{
	overflow: hidden;
}